* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .carrinho {
    font-size: 18px;
}

.produtos {
    margin-bottom: 40px;
}

.produtos h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.produtos-lista {
    display: flex;
    justify-content: space-around;
}

.produto {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.produto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.produto p {
    font-size: 16px;
    color: #888;
}

.produto .btn-adicionar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.produto .btn-adicionar:hover {
    background-color: #218838;
}

.carrinho-compras {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.carrinho-compras h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.carrinho-compras ul {
    list-style-type: none;
}

.carrinho-compras ul li {
    margin: 5px 0;
}

.carrinho-compras .total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

.carrinho-compras .btn-limpar {
    display: inline-block;
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.carrinho-compras .btn-limpar:hover {
    background-color: #c82333;
}